/* 
    Amarelo: #F8AF40
    Azul: #1B2838
    Preto: #171A21
    Branco: #F7F7F7
    Cinza: #202020
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
}
header, footer{
    background-color: #1B2838;
    padding: 20px;
}
main{
    background-color: #171A21;
    overflow-x: hidden;
}

/* Cabeçalho */
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo{
    width: 42%;
}
.campoPesquisa i{
    color: #171A21;
    font-size: large;
    border-radius: 50%;
    background-color: #F7F7F7;
    padding: 5px;
}
.cartUser i{
    color: #171A21;
    font-size: large;
    border-radius: 50%;
    background-color: #F7F7F7;
    padding: 5px;
}
input{
    border-radius: 12px;
    height: 0.7cm;
}
.campoPesquisa{
    display: flex;
    gap: 0.1cm;
}

/* Corpo */
main{
    padding: 1.5cm;
}
.infosJogo{
    height: min-content;
    border: 2px solid #FFF;
    color: #F7F7F7;
    text-align: justify;
    position: relative;
    right: 1.8cm;
    width: 87%;
}
.infosJogo p{
    font-size: medium;
    width: 60%;
}
.infosJogo span{
    font-size: x-large;
}
.infosJogo i{
   font-size: xx-large;
   position: relative;
   left: 9.2cm;
   cursor: pointer;
   margin-bottom: 0.5cm;
}
#imgJogo{
    width: 20%;
    border-radius: 15px;
    position: relative;
    left: 4.9cm;
    bottom: 1.23cm;
    z-index: 1;
}
.container{
    display: flex;
    align-items: center;
    margin-top: 1cm;
}

/* Rodapé */
.blocoVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.redes{
    position: relative;
    z-index: 1;
    margin-bottom: 0.6cm;
}
.redes a:nth-child(2){
    margin: 0 1em 0 1em;
}
#socialMedia, #btnDuvida{
    background-color: #F7F7F7;
    font-size: x-large;
    border-radius: 50%;
    padding: 8px;
}
#btnDuvida{
    position: relative;
    top: 2cm;
}
#socialMedia:hover, #btnDuvida:hover{
    background-color: #171A21;
    color: #F7F7F7;
}
.fa-question{
    margin: 0 7px 0 7px;
}
footer #logo{
    width: 12%;
}
