/* 
    Amarelo: #F8AF40
    Azul: #1B2838
    Preto: #171A21
    Branco: #F7F7F7
    Cinza: #202020
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer, #conteudoModal{
    background-color: #1B2838;
    padding: 25px;
}
main, .cartUser svg:hover, #socialMedia:hover, #btnDuvida:hover{
    background-color: #171A21;
}
a:visited{
    color: inherit;
    text-decoration: none;
}

/* Cabeçalho */
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo{
    width: 42%;
}
.dropdown button{
    background-color: transparent;
    border: none;
}
.cartUser{
    margin-right: 1em;
    display: flex;
}
.cartUser svg{
    color: #171A21;
    border-radius: 50%;
    padding: 2px;
    margin-left: 12px;
}
#caixaPesquisa{
    border-radius: 7px;
    border: 1px solid #1B2838;
    margin-right: 2px;
}
.dropdown-item, .infosJogo p{
    font-family: 'Quicksand', sans-serif;
}

/* Corpo */
.row{
    display: flex;
    justify-content: center;
}
h2{
    font-variant: small-caps;
}
.infosJogo{
    display: flex;
    align-items: center;
    border: 2px solid #F7F7F7;
    text-align: justify;
    margin: 3cm 0cm 2cm 0cm;
    height: 8cm
}
.infosJogo p{
    font-size: medium;
    width: 90%;
}
.infosJogo span{
    font-size: x-large;
}
#cartAdd, #cartCheck, .bi-search, #btnDuvida{
   cursor: pointer;
}
#imgJogo{
    width: 80%;
    border-radius: 15px;
    position: relative;
    left: 1cm;
    bottom: 1cm;
}

/* Rodapé */
.blocoVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.redes{
    position: relative;
    z-index: 1;
    margin-bottom: 0.6cm;
}
.redes a:nth-child(2){
    margin: 0 1em 0 1em;
}
#socialMedia, #btnDuvida{
    border-radius: 50%;
    padding: 10px;
}
#socialMedia{
    display: inline-flex;
}
#btnDuvida{
    position: relative;
    top: 2cm;
}
#conteudoModal, #socialMedia:hover, #btnDuvida:hover, .infosJogo, #cartAdd, #cartCheck, .cartUser svg:hover{
    color: #F7F7F7;
}
#btnFechar, #socialMedia, #btnDuvida, .cartUser svg{
    background-color: #F7F7F7;
}
footer #logo{
    width: 12%;
}