body{
    font-family: 'Quicksand', sans-serif;
    background-color: #202020;
}

/*Definindo largura correta para a logo */
#logo_Reyouse{
    width: 90px;
    height: 90px;
}

/*Definindo cor para a navbar */
.navbar {
  background-color: #1B2838;
  width: 100%;
}

.navbar-collapse form[role="search"] button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f7f7f7;
}

.form-control {
  border-radius: 20px;
  width: 300px;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.navbar-header,
.navbar-form,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-icon {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}

.navbar-collapse form[role="search"] {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

    /* Estilizando o texto"Catálogo" */
    #catalogo {
        margin-top: 30px;
        display: grid;
        align-items: center;
        height: 100px;
        background-color: #202020;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 40px;
      }
      
      #catalogo h1 {
        align-items: center;
        justify-content: center;
        font-size: 45px;
        text-align: center;
        background-image: linear-gradient(to right, #F8AF40, #F7F7F7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 800;
        
    }

    /*Estilizando o dropdown */
    .dropdown{
        background-color: #f7f7f7;
        border-radius: 5px;
        
    }
    #dropdownMenuButton{
        font-weight: 600;
    }
    .dropdown-item{
        font-weight: 600;
        background-color: #F7F7F7;
    }

/*Estilo dos cards dos produtos */
    #jogosCatalogo{
    margin-top: 70px;
    }
    .card {
      border-radius: 0px;
      background-color: #f7f7f7;
    }
    .card-img-overlay {
      position: relative;
    }
    .card-img-top{
      border-radius: 15px;
    }
    .card-title {
      font-family: 'IBM Plex Sans', sans-serif;
      color: #1B2838;
      font-weight: 600;
      font-size: 22px;
      height: 3.4rem; /* altura de 3 rem (48 pixels) */
      overflow: hidden; /* esconde qualquer conteúdo adicional que possa ultrapassar a altura definida */
    }

    /*Estilização dos icones SVG das plataformas de videogame */
    .game-card_cardIcon {
    
      display: flex !important;
  }
  
  .game-card_cardIconWrapper__382_2 {
    display: -moz-box;
    display: flex;
    width: auto;
    height: 18px;
    -moz-box-align: center;
    align-items: center;
    float: left;
    margin-bottom: 20px;
  }
  .mr-10 {
    margin-right: 10px; /*Espaçamento dos icones das plataformas do jogo */
  }


    .card-price {
      font-family: 'Quicksand', sans-serif;
      font-size: 18px;
      font-weight: bolder;
      color: #202020;
    }
    .fa-shopping-cart{
      font-size: 20px ;
    }
    .card-text {
      margin-bottom: 0.5rem;
    }
    .add-to-cart {
      color: #1B2838;
      cursor: pointer;
    }
    .wide-card {
      width: 16rem;  /* Largura do card*/
      position: relative;
      
    }
    .wide-card .card-body {
       padding: 0.6rem;
    }
   #conteudoCard{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
   }
   .zoom-img {
    position: relative;
    overflow: hidden;
    margin-top: -50px;
    border-radius: 15px;
    
  }
  
  .zoom-img img {
    transition: transform 0.3s ease;
  }
  
  .zoom-img:hover img {
    transform: scale(1.04);
    transform-origin: center center;
  }



    /*Propriedades do rodapé */
    footer{
      padding: 20px 0px 0px 0px;
      margin-top: 50px;
      margin-bottom: 15px;
      background-color: #1B2838;
    }
  
  
    .textoFooter{
      color: #F7F7F7;
      font-weight: 600;
  
    }
  
    #rede:hover{
      border-color: #1B2838;
      background-color: #F7F7F7;
    }
    
  
  /*Botão de ajuda ao lado esquerdo do rodapé*/
    .botao-ajuda {
      left: 10px;
      width: 40px;
      height: 40px;
      background-color: #F8AF40;
      font-size: 20px;
      color: #1B2838;
      font-weight: 800;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      display: block;
    }
    
  .botao-ajuda:hover{
    color: #1B2838;
    background-color: #f7f7f7;
  }
  
  /*Alterações na logo do rodapé */
  .logoRodape{
    align-items: center;
    justify-content: center;
    display: flex;
  
  }
  
  
  /*Modal ajuda */
  #modalAjuda h1{
    font-family: 'Quicksand', sans-serif;
    color: #F8AF40;
    font-size: 30px;
    font-weight: 800;
  }
  .btnOpcoes{
    background-color: #F7F7F7;
    color: #1B2838;
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
  }
  .btn-close{
    background-color: #F7F7F7;
  }
  .modal-content {
    background-color: #202020;
  }
