body{
    background-color: #202020;
}

header #logo{
    width: 42%;
}
#btnPesquisar{
    border: none;
    color: #F7F7F7;
}
.dropdown button{
    background-color: transparent;
    border: none;
}
.cartUser{
    margin-right: 1em;
    display: flex;
}
.cartUser svg{
    color: #171A21;
    border-radius: 50%;
    padding: 2px;
    margin-left: 12px;
}
#caixaPesquisa{
    border-radius: 7px;
    border: 1px solid #1B2838;
    margin-right: 2px;
}
.dropdown-item, .infosJogo p{
    font-family: 'Quicksand', sans-serif;
}
/*Definindo largura correta para a logo */
#logo_Reyouse{
    width: 90px;
    height: 90px;
}

/*Definindo cor para a navbar */
.navbar {
  width: 100%;
}

.navbar-collapse form[role="search"] button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f7f7f7;
}

.form-control {
  border-radius: 20px;
  width: 300px;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.navbar-header,
.navbar-form,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-icon {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  border: none;
}
.custom-search-form {
    align-items: center;
    justify-content: center;
  }
  .navbar-collapse .d-flex.justify-content-center {
    flex: 1;
  }
  .form-control{
    border-radius: 20px !important;
  }



/*Estilizando os containers */
#welcome{
  cursor:default;
  color: #1B2838;
  border-radius: 30px;
  font-size: 21px;
}
.rectangle {
    width: 220px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #F8AF40;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    padding: 10px 20px 0px 20px;
    color: #202020;
    font-weight: 600;
    font-size: 19px;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .dadosLista{
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: -30px;
  }
  .container-box {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .container-box .active {
    background-color: #e9ecef;
  }

  .content-container {
    display: none;
  }

  .content-container.active {
    display: block;
    justify-content: center;
    align-items: center;
    
  }

  .box-container {
    border: 1px solid #F7F7F7;
    background-color: #202020;
    padding: 20px;
    border-radius: 5px;
  }
  #my-account-container{
    font-family: 'Quicksand', sans-serif;
    color: #f7f7f7;
  }
  #anuncio-container, #my-adverts-container{
    font-family: 'Quicksand', sans-serif;
  }
  .zoom-effect {
    transition: transform 0.4s ease;
  }
  
  .zoom-effect:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  #jogoDigital img{
    background-image: url(../imgs/theLastOfUsBanner.png);
    background-size:unset;
    background-attachment: fixed;
  }
  #boxAnuncio{
    border: none !important;
    color: #F7F7F7;
  }
  #btnDados{ 
    font-size: 14px;
    background-color: #202020;
    color: #F7F7F7;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    margin-right: 10px;
    border: 1px solid #F7F7F7;
  }
  #btnDados:hover{
    background-color: #202020;
    color: #F8AF40;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    margin-right: 10px;
    border: 1px solid #F8AF40;
  }

  #pedidosAnuncios{
    background-color: #202020;
    color: #f7f7f7;
    border: 1px solid #F7F7F7;
    cursor: pointer;
  }
  #anuncio-fisico, #anuncio-digital{
    padding: 0px 150px 0px 150px;
  }
  .box-anuncio{
    padding: 20px 30px 20px 30px !important;
  }
  #conservacao, #plataforma_check{
    font-family: 'Quicksand', sans-serif;
    color: #f7f7f7;
    font-size: 18px;
  }
  #infosAnuncio{
    color: #F7F7F7;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
    align-items: center !important;
    align-content: center !important;
    justify-content:  center !important;

  }
  #bannerJogo{
    width: 140px;
  }
  #conteudoPedido, h5{
    font-weight: 600;
    color: #f7f7f7;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  #conteudoPedido, p{
    font-weight: 600;
    color: #f7f7f7;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
  }
  #my-orders-container{
    font-family: 'Quicksand', sans-serif;
  }

  .game-card_cardIcon {
    
    display: flex !important;
}
.bi-trash{
  color: red;
  position: relative;
  left: 20.5cm;
  bottom: 0.5cm;
}

.game-card_cardIconWrapper__382_2 {
  display: -moz-box;
  display: flex;
  width: auto;
  height: 18px;
  -moz-box-align: center;
  align-items: center;
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Rodapé */
.blocoVertical{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #logo{
  position: relative;
  bottom: 0.5cm;
}
.redes{
  position: relative;
  z-index: 999;
  top: 0.7cm;
}
.redes a:nth-child(2){
  margin: 0 1em 0 1em;
}
#socialMedia, #btnDuvida{
  background-color: #F7F7F7;
  color: #171A21;
  font-size: x-large;
  border-radius: 50%;
  padding: 8px;
}
#btnDuvida{
  position: relative;
  top: 3.5cm;
  left: 1cm;
}
#socialMedia:hover, #btnDuvida:hover{
  background-color: #171A21;
  color: #F7F7F7;
}
.fa-question{
  margin: 0 7px 0 7px;
}

/* Estilizando modal */
footer{
  margin-top: 1.5cm;
}
footer h5{
  color: #202020;
}
#conteudoModal{
  background-color: #171A21;
}
#conteudoModal .row{
  display: flex;
  justify-content: center;
}
#conteudoModal h1{
  color: #F8AF40;
}
#btnFechar, .campoModal{
  background-color: #F7F7F7;
}
.campoModal{
  border-radius: 10px;
  padding: 7px;
}
.modal-header, .campoModal{
  margin-bottom: 15px;
}
.campoModal a{
  color: inherit;
  text-decoration: none;
  text-align: center;
}
footer, .navbar-icon, #btnPesquisar, .navbar{
  background-color: #1B2838;
}
#logo{
  width: 20%;
}
