/* 
    Amarelo: #F8AF40
    Azul: #1B2838
    Preto: #171A21
    Branco: #F7F7F7
    Cinza: #202020
*/
* {
  box-sizing: border-box;
  margin: 0;
}

main,
.cartUser svg:hover,
#socialMedia:hover,
#btnDuvida:hover {
  background-color: #202020;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/* Corpo */
.row {
  display: flex;
  justify-content: center;
}

.infosJogo {
  display: flex;
  align-items: center;
  text-align: justify;
  margin: 3cm 0cm 4cm 0cm;
  height: 8cm;
}

#bannerJogo,
#conteudosJogo,
#btnPlataforma {
  background-color: #F7F7F7;
}

#conteudosJogo {
  padding: 30px 0px 9px 0px;
  font-family: 'Quicksand', sans-serif;
}

#conteudosJogo h5 {
  color: #1B2838;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bolder;
  font-size: 34px;
}

#conteudosJogo p {
  color: #202020;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

#precoJogo {
  color: #202020;
  font-weight: 600;
}

.infosJogo h5,
p {
  padding: 0px 50px 0px 60px;
}

#precoECarrinho {
  padding: 50px 0px 38px 60px;
}

.infosJogo span {
  font-size: x-large;
}


/* Estilo para a linha dos ícones de plataforma */
.plataformas h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #202020;
  font-weight: bolder;
  font-size: 25px;

}

#btnPlataforma {
  border: none;
}

.estadoJogo {
  padding: 0px 0px 0px 0px;
  display: inline-flex;
  vertical-align: middle;
  margin: 0;
}

.estadoJogo p {
  font-size: 18px;
  font-weight: 600;
}

#plataformas {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0px 0px 0px 60px;
}


#cartAdd,
#cartCheck,
.bi-search,
#btnDuvida {
  cursor: pointer;
}

#imgJogo {
  margin-top: -20px;
  width: 100%;
  min-width: 350px;
  min-height: 500px;
  border-radius: 15px;
  position: relative;
  left: 0.8cm;
  bottom: 1cm;
}

.sombra-img {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.432);
}

.sombra-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Rodapé */
.blocoVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.redes a:nth-child(2) {
  margin: 0 1em 0 1em;
}

#socialMedia,
#btnDuvida {
  background-color: #F7F7F7;
  color: #171A21;
  font-size: x-large;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  text-decoration: none;
}

#socialMedia {
  display: inline-flex;
}

#conteudoModal,
#socialMedia:hover,
#btnDuvida:hover,
.infosJogo,
.cartUser svg:hover {
  color: #F7F7F7;
}

#btnFechar,
#socialMedia,
#btnDuvida,
.cartUser svg {
  background-color: #F7F7F7;
}

.card {
  background-color: #202020;
  outline: none;
}

#carouselExampleControls {
  background-color: #202020;
  padding-bottom: 50px;
  padding-top: 20px;

}

#btnAnterior,
#btnProximo {
  background-color: #202020;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}

.card-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.card-wrapper .card {

  margin-right: 30px;
  border-radius: 20px;
  border: none !important;
  background-color: #202020;
}

.card-wrapper .card:first-child {

  margin-left: 0;
}

.card-wrapper .card:last-child {
  margin-right: 0;
}

.card-img-top {

  height: 250px;
  /* Defina a altura desejada */
  object-fit: cover;
  /* Para manter a proporção da imagem */
  border: none;
  cursor: pointer;
  outline: none;

}

.zoom-image {
  transition: transform 0.5s;

}

.zoom-image:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #1B2838;
}

.sombra-img {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.432);
}

.sombra-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

#postConfirms{
    position: relative;
    bottom: 10px;
    border: 2px solid;
    font-weight: 700;
    background-color: #00a000;
    border-color:#008000;
  }

  #postConfirms:hover{
    border-color: #171A21;
  }

/* Rodapé */
.blocoVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.redes {
  position: relative;
  z-index: 1;
  top: 0.3cm;
}

.redes a:nth-child(2) {
  margin: 0 1em 0 1em;
}

#socialMedia,
#btnDuvida {
  background-color: #F7F7F7;
  color: #171A21;
  font-size: x-large;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  text-decoration: none;
}

#btnDuvida {
  position: relative;
  top: 2.8cm;
  left: 0.8cm;
}

#conteudoModal,
#socialMedia:hover,
#btnDuvida:hover,
.infosJogo,
.cartUser svg:hover {
  color: #F7F7F7;
}

#btnFechar,
#socialMedia,
#btnDuvida,
.cartUser svg {
  background-color: #F7F7F7;
}

footer #logo {
  width: 12%;
  margin-bottom: 1cm;
}


.card {
  background-color: #202020;
  outline: none;
}

#carouselExampleControls {
  background-color: #202020;
  padding-bottom: 50px;
  padding-top: 20px;

}

#btnAnterior,
#btnProximo {
  background-color: #202020;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}

.card-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.card-wrapper .card {

  margin-right: 30px;
  border-radius: 20px;
  border: none !important;
  background-color: #202020;
}

.card-wrapper .card:first-child {

  margin-left: 0;
}

.card-wrapper .card:last-child {
  margin-right: 0;
}

.card-img-top {

  height: 250px;
  /* Defina a altura desejada */
  object-fit: cover;
  /* Para manter a proporção da imagem */
  border: none;
  cursor: pointer;
  outline: none;

}

.zoom-image {
  transition: transform 0.5s;

}

.zoom-image:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #1B2838;
}

/* Estilizando modal */
#conteudoModal {
  background-color: #171A21;
}

#conteudoModal h1 {
  color: #F8AF40;
}

#btnFechar,
.campoModal {
  background-color: #F7F7F7;
}

.campoModal {
  border-radius: 10px;
  padding: 7px;
}

.modal-header,
.campoModal {
  margin-bottom: 15px;
}

.campoModal a {
  text-decoration: none;
  text-align: center;
}

h5 {
  color: #171A21;
}